<!-- app/views/shared/_breadcrumbs.html.erb -->
<% if @breadcrumbs %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <% @breadcrumbs.each do |breadcrumb| %>
        <% if breadcrumb[:path] %>
          <li class="breadcrumb-item"><%= link_to breadcrumb[:label], breadcrumb[:path] %></li>
        <% else %>
          <li class="breadcrumb-item active" aria-current="page"><%= breadcrumb[:label] %></li>
        <% end %>
      <% end %>
    </ol>
  </nav>
<% end %>
